body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
    width: 150px;
}
.card {
     border: 1px double pink ;
    padding: 20px;
    background-color: papayawhip;
    display: flex; 
    justify-content: space-around;
    width: 400px ;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
}
.border-blue {

    border: 1px double pink;
}